<!DOCTYPE html>
<html lang="en">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册请求</title>
</head>
<body>
<table >
    <tr>
        <th>用户名</th>
        <th>真实姓名</th>
        <th>密码</th>
        <th>邮箱号</th>
        <th>创造时间</th>
        <th>操作</th>
    </tr>
    <tr th:each="re : ${registers}">
        <td th:text="${re.getUserName()}"></td>
        <td th:text="${re.getName()}"></td>
        <td th:text="${re.getPassword()}"></td>
        <td th:text="${re.getEmail()}"></td>
        <td th:text="${re.getCreateTime()}"></td>
         <td>
             <a th:href="@{/registerApplicationOperation(action='agree',id=${re.getId()})}">同意</a>
         </td>
         <td>
             <a th:href="@{/registerApplicationOperation(action='agree',id=${re.getId()})}">
                 拒绝
             </a>
         </td>
    </tr>
</table>
</body>
</html>